.container{
    width:90% !important;
}
body{
    background-color: #333;
}
.slider{
    height:650px !important;
}
.slides{
    height:600px !important;
}
#ivex-mumbai{
    margin:0;
    padding-top:5px;
}
#style-about{
    text-transform: uppercase;
    border-left: 5px #f44336 solid;
    padding-left:10px;
}

#about-image img{
    height: 200px !important;
}

#style-service{
    margin: none;
    text-transform: uppercase;
    border-left: 5px #f44336 solid;
    padding-left:10px;
}

.tabs .tab a.active {
    background-color: #ffe5e5;
    color:#f44336;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#f44336;

} /*Color of underline*/

